<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeManager</servlet-name>
        <servlet-class>controller.HomeManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManager</servlet-name>
        <servlet-class>controller.CategoryManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailManager</servlet-name>
        <servlet-class>controller.DetailManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManager</servlet-name>
        <servlet-class>controller.SearchManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutControl</servlet-name>
        <servlet-class>controller.logoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooks</servlet-name>
        <servlet-class>controller.ManageBooksControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassControl</servlet-name>
        <servlet-class>controller.ChangePassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControl</servlet-name>
        <servlet-class>controller.ManagerAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassControl</servlet-name>
        <servlet-class>controller.ForgetPassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>controller.ChangeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewBookControl</servlet-name>
        <servlet-class>controller.ReviewBookControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControl</servlet-name>
        <servlet-class>controller.AddToCartControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeManager</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManager</servlet-name>
        <url-pattern>/categoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailManager</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManager</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooks</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassControl</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountControl</servlet-name>
        <url-pattern>/manageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassControl</servlet-name>
        <url-pattern>/forgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/changeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewBookControl</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControl</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
